@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Montserrat:700,800i);body {
  background-color: black;
  color: white;
}

nav {
  margin-top: 10px;
  font-weight: 300;
}

nav .nav-link {
  padding-right: 0px;
  padding-left: 70px;
  margin-left: 30px;
  display: block;
  padding: 0.5rem 0rem;
}

nav a {
  color: #84191A;
  text-align: right;
}

nav a:hover {
  color: white;
}

nav h4 {
  position: relative;
  margin: 0px auto;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.7px;
}

.nav-img {
  top: 0px;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 15px;
}

.dropdown-menu {
  left: -200px;
}

.jumbotron {
  min-height: 560px;
  background: #84191A;
  border-radius: 2px;
}

.jumbotron h1 {
  font-size: 11em;
  font-weight: bold;
  position: relative;
  bottom: 0px;
  line-height: 146px;
  letter-spacing: -8px;
}

.profileImg {
  position: relative;
  width: 100%;
}

.mainPageUserImg {
  height: 100px;
  width: 100px;
}

.Start {
  display: none;
  width: 220px;
  position: relative;
  left: 50%;
  margin-left: -110px;
  margin-top: 20px;
}

.searching {
  margin-top: 35px;
}

.btnStart {
  color: white;
  background: #84191A;
  height: 60px;
  width: 100%;
  border: 0px solid transparent;
  border-radius: 3px;
}

h1.shotClock {
  font-size: 120px;
  padding-top: 0px;
  margin-top: -28px;
  color: #84191A;
}

.players .badge {
  font-size: 25px;
  width: 100%;
}

.players h1 {
  font-size: 100px;
}

footer {
  left: 0px;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

img.playerImg_Game {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 25px;
}

img.profileImg {
  height: 220px;
  width: 220px;
  border-radius: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}

svg.searchin {
  width: 64px;
  height: 64px;
  fill: white;
}

svg.icon-basketball {
  position: absolute;
  left: 50%;
  top: 76px;
  margin-left: -11px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

@-webkit-keyframes spinBall {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinBall {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wifi {
  50% {
    fill: black;
  }
}

@keyframes wifi {
  50% {
    fill: black;
  }
}

path {
  -webkit-animation: wifi 1s infinite;
          animation: wifi 1s infinite;
}

path:nth-child(1) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

path:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

path:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

path:nth-child(4) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.icon-basketball {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 25px;
  height: 25px;
  fill: white;
}

.shotClockRow {
  margin-top: 45px;
}

.shotClockRow p {
  font-size: 27px;
  margin-bottom: 4px;
}

